@use '@/styles/scss/abstracts/' as *;

.privacy {
  line-height: 2;

  & .wrapper {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  & .privacyPolicy,
  .personalInfo,
  .sensitive,
  .security {
    margin: 4rem 0;
  }

  & h3 {
    margin-bottom: 1rem;
    @include underline-heading;
  }

  & span {
    color: $whiteColor;
    font-weight: bold;
  }

  & ul {
    color: $textColor;
  }
}
