@use './variables' as *;

@mixin arima-link {
  display: inline-block;
  transition: all 0.5s;

  &:hover {
    color: $primaryColor;
  }
}

@mixin underline-heading {
  padding-bottom: 0.3rem;
  border-bottom: 3px solid $primaryColor;
  display: inline-block;
  margin-bottom: 1rem;
}
