@use './variables' as *;

@mixin arima-link {
  display: inline-block;
  transition: all 0.5s;

  &:hover {
    color: $primaryColor;
  }
}

@mixin underline-heading {
  font-weight: bold;
  display: inline-block;

  &::after {
    content: '';
    display: block;
    max-width: 30%;
    border-radius: 50px;
    margin-top: 0.5rem;
    border-top: 3px solid $primaryColor;
  }
}
