// MAIN COLORS
$primaryColor: #e8115f;
$whiteColor: #ffffff;
$textColor: #dbdbdb;

// BACKGROUND COLORS
$backgroundColor: #0f141e;
$bgOverlayColor: #171d2f;
$footerColor: #0b0e14;

// FONTS
$primaryFont: 'Inter', sans-serif;
