// IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

// MAIN COLORS
$primaryColor: #e8115f;
$whiteColor: #ffffff;

// BACKGROUND COLORS
$backgroundColor: #0f141e;

// FONTS
$primaryFont: 'Inter', sans-serif;
