@use '@/styles/scss/abstracts/' as *;

.highestRated {
  margin: 4rem 0;

  & .heading {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;

    & .viewAll {
      @include arima-link;
    }

    & h2 {
      font-weight: bold;

      &::first-letter {
        color: $primaryColor;
      }
    }

    & span {
      color: $primaryColor;
    }
  }
}
