@use '@/styles/scss/abstracts/' as *;

.animeCard {
  display: flex;
  flex-direction: column;

  img {
    min-width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }

  & .animeLink {
    @include arima-link;
    margin: 0.8rem 0;
    font-size: 0.9rem;
  }

  @include devices(laptop) {
    & img {
      max-width: 125px;
      max-height: 200px;
    }
  }

  @include devices(tablet) {
    & img {
      max-width: 125px;
      max-height: 250px;
    }
  }

  @include devices(mobile) {
    & img {
      max-width: 70px;
      max-height: 150px;
    }

    & .animeLink {
      font-size: 0.8rem;
    }
  }
}
