* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f141e;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  color: #dbdbdb;
}

a:hover {
  color: #ffffff;
}

.container {
  padding: 0 1.5rem;
}

/* width */
::-webkit-scrollbar {
  max-width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #171d2f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #45507a;
  border-radius: 10rem;
}
