@use '@/styles/scss/abstracts' as *;

.pageNav {
  margin: 2rem auto;

  .pagination {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0.5rem;
  }
}

%pageBox {
  display: flex;
  justify-content: center;
  align-items: center;

  .pageLink {
    width: 2.5rem;
    height: 3rem;
    border: none;
    background-color: $bgOverlayColor;
    border-radius: 3px;
    color: $whiteColor;
    z-index: 0;
    cursor: pointer;

    .pageLinkIcon {
      z-index: 100;
      font-size: 1em;
      transition: all 0.1s ease-in-out;
    }
  }

  @include devices(mobile) {
    .pageLink {
      width: 2rem;
    }
  }
}

.pageItemActive {
  @extend %pageBox;

  .pageLink {
    background-color: $primaryColor;
  }
}

.pageItemDisabled {
  @extend %pageBox;

  .pageLink {
    background-color: #131827;
    border: none;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.pageItem {
  @extend %pageBox;

  .pageLink {
    .pageLinkIcon,
    &:hover .pageLinkIcon {
      color: $whiteColor;
    }
  }
}
