@use '../abstracts' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundColor;
  color: $whiteColor;
}

a {
  text-decoration: none;
  color: $whiteColor;
}

a:hover {
  color: $whiteColor;
}
