@use '@/styles/scss/abstracts/' as *;

.search {
  margin-top: 8rem;
  margin-bottom: 5rem;

  & h3 {
    font-weight: bold;
    text-align: center;

    &::first-letter {
      color: $primaryColor;
    }
  }

  & .form {
    margin: auto;
    margin-top: 1.5rem;
    max-width: 50%;

    & .input {
      @include arima-input;
      margin-bottom: 4rem;
    }
  }

  @include devices(tablet) {
    & .form {
      max-width: 100%;
    }
  }
}
