@use '@/styles/scss/abstracts/' as *;

.hero {
  min-height: 100vh;

  & .wrapper {
    display: flex;
    align-items: center;
  }

  & .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 50;
    max-width: 60%;
    min-height: 100vh;

    & h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    & p {
      line-height: 2;
      margin-bottom: 1.5rem;
      z-index: 999;
    }

    & span {
      color: $primaryColor;
    }
  }

  .button {
    @include arima-button(20rem);
    cursor: pointer;
    text-decoration: none;
  }

  &Image {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 3.125rem;
    min-width: 35%;
    background-image: linear-gradient(
        rgba(15, 20, 30, 0.8),
        rgba(15, 20, 30, 0.6)
      ),
      url('../../../../public/backgrounds/hero-bg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    object-fit: cover;
  }

  @include devices(laptop) {
    &Image {
      min-width: 35%;
    }

    & .content {
      & h1 {
        font-size: 2.8rem;
      }
    }
  }

  @include devices(tablet) {
    &Image {
      min-width: 100%;
      background-image: linear-gradient(
          rgba(15, 20, 30, 0.9),
          rgba(15, 20, 30, 0.9)
        ),
        url('../../../../public/backgrounds/hero-bg.webp');
    }

    & .content {
      max-width: 100%;
      align-items: center;
      text-align: center;
    }
  }

  @include devices(mobile) {
    & .content {
      & h1 {
        font-size: 2.5rem;
      }

      & p {
        font-weight: 500;
        font-size: 0.9rem;
      }
    }
  }
}
