@use '@/styles/scss/abstracts/' as *;

.pageHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;

  & .content {
    text-align: center;

    & h1 {
      font-weight: bold;

      &::first-letter {
        color: $primaryColor;
      }
    }

    & p {
      font-size: 1.1rem;
      margin: 0;
    }
  }
}
