@use '@/styles/scss/abstracts/' as *;

.animeTrailers {
  margin: 2rem 0;

  & h5 {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  & .trailer {
    border-radius: 5px;
    min-height: 250px;
  }

  @include devices(tablet) {
    & .trailer {
      min-width: 100%;
    }
  }
}
